extends ../../layout/layout

append vars
  include /about-room/about-room
  include /impressions/impressions
  include /comment/comment
  include /bullet-list/bullet-list
  include /card-room-details/card-room-details

  - 
    const title = "Room details"

block main
  main.rd-main
    .rd-gallery
      img.rd-gallery__master-room(
        src=require("./img/rd-1.webp")
        alt="master bedroom"
      )
      img.rd-gallery__secondary-room.rd-gallery__secondary-room_reflected(
        src=require("./img/rd-2.webp")
        alt="secondary room"
      )
      img.rd-gallery__secondary-room(
        src=require("./img/rd-3.webp")
        alt="secondary room"
      )
    
    article.rd-content
      section.rd-content__container
        .rd-about-room
          h2.rd-title Сведения о номере
          +about-room()
          +about-room("convenience")
          +about-room("coziness", true)

        section.rd-impressions
          h2.rd-title Впечатления от номера
          +impressions

        section.rd-comments
          h2.rd-title Отзывы посетителей номера
          span.rd-comments__counter 2 отзыва
          +comment({})
          +comment({
            avatar: "avatar-2.webp",
            name: "Патрисия Стёклышкова",
            lastVisited: "Неделю назад",
            likeParams: {value: 2, pressed: false},
            text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"
          })

        section.rd-rules
          h2.rd-title Правила
          +bullet-list({})

        section.rd-cancel
          h2.rd-title Отмена
          p.rd-cancel__text
            | Бесплатная отмена в течение 48 ч. 
            | После этого при отмене не позднее чем за 5 дн. 
            | до прибытия вы получите полный возврат 
            | за вычетом сбора за услуги.
      
      article.rd-card
        +card-room-details({
          dropdownParams: {hash: dropdownHash},
          dateDroppdownParams: {calAttrs: {hash: calHash}}
        })

