mixin roomCard(params)
  - const {imgPath, roomNumber = 888, price = 9990, luxuryStatus = 'люкс', rate = 5, period = 'в сутки', reviews = 145} = params
  - const name = roomNumber
  .room-card
    .room-card__carousel
      .room-card__carousel-container.js-room-card__carousel-container
        - for (let i = 0; i < imgPath.length; i++)
          - const imageNumber = imgPath[i].match(/\d/g).join('')
          .room-card__image-container
            img.room-card__image(src=require(`@common/room-card/__image/room-card__image_${imageNumber}.webp`).default, alt="room image")
      .room-card__shadow
      button.text-button.room-card__prev-button.js-room-card__prev-button(aria-label='previous room image')
      button.text-button.room-card__next-button.js-room-card__next-button(aria-label='next room image')
      .room-card__input-container
        - for (let i = 0; i < imgPath.length; i++)
          if i == 0
            label.room-card__label(title='switch photo!')
              input.room-card__input(type="radio" name='room-card-input-' + name data-input-order=i checked)
              span.room-card__input-button
          else
            label.room-card__label(title='switch photo!')
              input.room-card__input(type="radio" name='room-card-input-' + name data-input-order=i)
              span.room-card__input-button
    .container.container_direction-column.room-card__bottom
      .container.container_justify-content-space-between
        .container.container_align-items-flex-end
          a(href="room-details.html").h2.room-card__number #{roomNumber}
          span.room-card__luxury-status #{luxuryStatus}
        .container.container_align-items-flex-end
          - const formatPrice = Math.trunc(price / 1000) + " " + (price % 1000 || '000')

          span.room-card__price #{formatPrice}
          span.room-card__period #{period}
      .hr
      .container.container_justify-content-space-between.container_align-items-center
        +rate(rate)
        span.room-card__reviews #{reviews}
