extends ../../layout/layout

append vars
  include /card-search-room/card-search-room

  - const title = "Landing"

block main
  main.landing-main
    img.landing-main-photo(
      src=require("../../img/bgi-1.webp")
      alt="a very green room with green walls with a green bed with a green plant and an amazing view from the window"
    )
    img.landing-main-photo(
      src=require("../../img/bgi-2.webp")
      alt="a room illuminated with snow-white light with a large light sofa in the center, a round coffee table and a bush rose bouquet"
    )
    img.landing-main-photo(
      src=require("../../img/bgi-3.webp")
      alt="everything is the same as in the previous two photos, only in pink tones"
    )

    .landing-main-container
      article.landing-main-card
        +card-search-room({
          dateDropdownParams: {
            calAttrs: {hash: calHash},
          },
          dropdownParams: {
            hash: dropdownHash
          },
          bigBtnParams: {
            attrs: {
              type: 'submit',
              formaction: 'search-room.html'
            }
          }
        })

      p.landing-main-caption
        | Лучшие номера для вашей работы,
        | отдыха и просто вдохновения

