extends ../../layout/layout

append vars
  include /card-search-room/card-search-room

  - 
    const title = 'Landing'
    const pageClass = 'landing'

block main
  main.landing__main
    img.landing__main-photo(
      src=require("../img/background-1.webp")
      alt="a very green room with green walls with a green bed with a green plant and an amazing view from the window"
    )
    img.landing__main-photo(
      src=require("../img/background-2.webp")
      alt="a room illuminated with snow-white light with a large light sofa in the center, a round coffee table and a bush rose bouquet"
    )
    img.landing__main-photo(
      src=require("../img/background-3.webp")
      alt="everything is the same as in the previous two photos, only in pink tones"
    )

    .landing__main-container
      article.landing__main-card
        +card-search-room({
          dateDropdownParams: {
            calAttrs: { hash: calHash },
          },
          dropdownParams: {
            hash: dropdownHash
          },
          bigBtnParams: {
            attrs: {
              type: "submit",
              formaction: "search-room.html"
            }
          }
        })

      p.landing__main-caption
        | Лучшие номера для вашей работы,
        | отдыха и просто вдохновения

