mixin buttonBorder(params)
  - const {disabled = false, sign = 'войти', header = false, action = '#', label = 'button'} = params
  if disabled
    .button.button_border.button_disabled(aria-label=label)
      button
        h3.h3 #{sign}
  else if header
    form.form(action="signIn.html")
      .button.header__button.button_border(aria-label=label)
        button
          h3.h3 #{sign}
  else
    form.form(action=action)
      .button.button_border(aria-label=label)
        button
          h3.h3 #{sign}
