include /svg-burger/svg-burger
include /svg-logo/svg-logo
include /svg-toxin/svg-toxin
include /svg-expand-icon/svg-expand-icon
include /bordered-button/bordered-button
include /primary-button/primary-button

mixin menu-item({text = 'Вакансии', href = 'change me', importatn})
  li.header__menu-item
    a.header__menu-link(
      href=href
      title=text
      class=importatn && 'header__menu-link_important'
    )= text

mixin expandable-menu-item(params)
  - 
    const {
      text = 'Услуги', 
      href = Array(4).fill('change me'),
      itemTexts = Array(4).fill('heawheahweh')
    } = params

  li.header__menu-expandable-item.js-header__menu-expandable-item
    button.header__menu-button.js-header__menu-button(title=text)
      span.header__menu-button-caption= text
      .header__menu-button-icon
        +svg-expand-icon()
    ul.header__sub-menu
      - for (let i = 0; i < Math.min(href.length, itemTexts.length); i++)
        +menu-item({href: href[i], text: itemTexts[i]})

mixin header(params) 
  - 
    const {
      content = [
        {
          text: 'О нас',
          importatn: true,
        },
        {
          type: 'expandableItem',
        },
        {},
        {
          text: 'Новости',
        },
        {
          type: 'expandableItem',
          text: 'Соглашения',
          itemTexts: Array(4).fill('hieh')
        }
      ],
      authorized = false,
      userName = 'Юлий Цезарь',
    } = params

  .header.js-header(class=authorized && 'header_for-authorized-user')
    .header__container 
      button.header__burger.js-header__burger
        +svg-burger()
      a.header__logo(href='landing.html' title='toxin home page')
        .header__main-logo
          +svg-logo()
        .header__toxin
          +svg-toxin()
      ul.header__menu
        each i in content
          if i.type === 'expandableItem'
            +expandable-menu-item(i)
          else
            +menu-item(i)
      .header__sign-in-button
        +bordered-button({text: 'войти'})
      .header__reg-button
        +primary-button({text: 'зарегистрироваться'})
      span.header__separator
      a.header__user-name(href='change me' title='личный кабинет')= userName

