mixin radio(params)
    - let {title, sign1 = 'Мужчина', sign2 = 'Женщина', name = 'sex'} = params
    .radio.container.container_direction-column
        if title
            h3.h3.radio__title #{title}
        else
        .radio__content.container
            label.radio__label.container.container_align-items-center
                input.radio__input(type="radio" name=name checked)
                span.radio__button
                span.radio__sign #{sign1}
            label.radio__label.container.container_align-items-center
                input.radio__input(type="radio" name=name)
                span.radio__button
                span.radio__sign #{sign2}
