include ../../common.blocks/header/header
include ../../common.blocks/footer/footer
include ../../common.blocks/room-card/room-card
include ../../library.blocks/rate/rate
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/button/_big/button_big
include ../../library.blocks/sub-text-field/sub-text-field
include ../../library.blocks/calendar/calendar
include ../../library.blocks/dropdown/dropdown
include ../../library.blocks/filter-date-dropdown/filter-date-dropdown
include ../../library.blocks/range-slider/range-slider
include ../../common.blocks/checkbox-buttons/checkbox-buttons
include ../../library.blocks/rich-check/rich-check
include ../../library.blocks/expandable-checkbox-list/expandable-checkbox-list
include ../../library.blocks/pagination/pagination.pug

doctype html
html.html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(
      name="description" 
      content="how about these rooms that we have selected for you?"
    )
    meta(name="keywords" content="toxin hotel")
    link(
      rel="mask-icon"
      href=require("@src/favicon/mask-icon.svg").default 
      color="#BC9CFF"
    )
    title search room
  body.pages.pages_search-room
    +header({})
    main.main
      button.main__show-aside-button.js-main__show-aside-button(aria-label="show search parameters of rooms")
      aside.aside.js-aside
        +filterDateDropdown({shrink: true})
        +dropdown({small: 1})
        +range({title: 'диапазон цены'})
        span.range-sign Стоимость за сутки пребывания в номере
        +checkboxButtons({title: 'правила дома'})
        h3.h3 доступность
        +richCheck({title: 'Широкий коридор', sign: 'Ширина коридоров в номере не менее 91 см.'})
        +richCheck({title: 'Помощник для инвалидов', sign: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
        +dropdown({sign: 'удобства номера', narrow: 1})
        +checkList({title: 'дополнительные удобства'})
      .main__content
        h1.h1.main__title Номера, которые мы для вас подобрали
        +roomCard({
          imgPath: [1, 2, 1, 2],
        })
        +roomCard({
          imgPath: [2, 1, 2, 1],
          roomNumber: 840,
          price: 9900,
          luxuryStatus: '',
          rate: 4,
          reviews: 65,
        })
        +roomCard({
          imgPath: [3, 3, 3, 3],
          roomNumber: 980,
          price: 8500,
          rate: 3,
          reviews: 35,
        })
        +roomCard({
          imgPath: [4, 4, 4, 4],
          roomNumber: 856,
          price: 7300,
          luxuryStatus: '',
          rate: 5,
          reviews: 19,
        })
        +roomCard({
          imgPath: [5, 5, 5, 5],
          roomNumber: 740,
          price: 6000,
          luxuryStatus: '',
          rate: 3,
          reviews: 44,
        })
        +roomCard({
          imgPath: [6, 6, 6, 6],
          roomNumber: 982,
          price: 5800,
          luxuryStatus: '',
          rate: 3,
          reviews: 56,
        })
        +roomCard({
          imgPath: [7, 7, 7, 7],
          roomNumber: 678,
          price: 5500,
          luxuryStatus: '',
          rate: 5,
          reviews: 45,
        })
        +roomCard({
          imgPath: [8, 8, 8, 8],
          roomNumber: 450,
          price: 5300,
          luxuryStatus: '',
          rate: 4,
          reviews: 39,
        })
        +roomCard({
          imgPath: [9, 9, 9, 9],
          roomNumber: 350,
          price: 5000,
          luxuryStatus: '',
          rate: 3,
          reviews: 77,
        })
        +roomCard({
          imgPath: [10, 10, 10, 10],
          roomNumber: 666,
          price: 5000,
          luxuryStatus: '',
          rate: 5,
          reviews: 25,
        })
        +roomCard({
          imgPath: [11, 11, 11, 11],
          roomNumber: 444,
          price: 5000,
          luxuryStatus: '',
          rate: 3,
          reviews: 15,
        })
        +roomCard({
          imgPath: [12, 12, 12, 12],
          roomNumber: 352,
          price: 5000,
          luxuryStatus: '',
          rate: 3,
          reviews: 55,
        })
        .main__pagination
          +pagination()
    +footer({})
