include ../../common.blocks/header/header
include ../../common.blocks/footer/footer
include ../../library.blocks/text-field/text-field
include ../../library.blocks/radio/radio
include ../../library.blocks/toggle/toggle
include ../../library.blocks/button/_border/button_border
include ../../library.blocks/button/_big/button_big
include ../../library.blocks/sub-text-field/sub-text-field
include ../../common.blocks/have-acc/have-acc
include ../../common.blocks/card/_registration/card_registration

doctype html
html.html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(
      name="description" 
      content="Don't have a toxin account yet? Then register!"
    )
    meta(name="keywords" content="toxin hotel rooms registration")
    link(
      rel="mask-icon"
      href=require("@src/favicon/mask-icon.svg").default 
      color="#BC9CFF"
    )
    title registration page
  body.pages.pages_registration
    +header({})
    main.main
      img.main__img-container.main__img-container_2(src=require("@src/page/registration/registration__bg-image-2.webp").default, alt="room photo")
      img.main__img-container.main__img-container_1(src=require("@src/page/registration/registration__bg-image-1.webp").default, alt="room photo")
      +registration({})
    +footer({})
