include /date-dropdown/date-dropdown
include /dropdown/dropdown
include /big-button/big-button

mixin svg-info-icon()
  svg(
    width="20" 
    height="20" 
    viewBox="0 0 20 20" 
    fill="none" 
    xmlns="http://www.w3.org/2000/svg"
  )
    circle(
      cx="10" 
      cy="10" 
      r="9.5" 
      stroke="#1F2041" 
      stroke-opacity="0.25"
    )

    path(
      d="M9.25463 7.544H11.1266V14H9.25463V7.544ZM10.1906 6.644C9.84663 6.644 9.56663 6.544 9.35063 6.344C9.13463 6.144 9.02663 5.896 9.02663 5.6C9.02663 5.304 9.13463 5.056 9.35063 4.856C9.56663 4.656 9.84663 4.556 10.1906 4.556C10.5346 4.556 10.8146 4.652 11.0306 4.844C11.2466 5.036 11.3546 5.276 11.3546 5.564C11.3546 5.876 11.2466 6.136 11.0306 6.344C10.8146 6.544 10.5346 6.644 10.1906 6.644Z" 
      fill="#1F2041" 
      fill-opacity="0.25"
    )

mixin card-room-details(params)
  - 
    const {
      roomNumber = 888,
      isLuxury = true, 
      cost = 9990,
      sale = 2179,
      formAttrs = {},
      bigButtonAttrs = {},
      dateDroppdownParams = {},
      dropdownParams = {},
    } = params

    const formater = new Intl.NumberFormat('ru', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    })

    function format(str) {
      return formater.format(str).replace(/\s(?=.$)/, '')
    }

  .card-room-details.js-card-room-details
    form.card-room-details__container&attributes(formAttrs)
      .card-room-details__heading
        h1.card-room-details__room-number.js-card-room-details__room-number(
          class=isLuxury && 'card-room-details__room-number_deluxe'
        )= roomNumber
        span.card-room-details__cost.js-card-room-details__cost= cost
      .card-room-details__date-dropdown
        .card-room-details__date-dropdown-title-container
          .card-room-details__sub-title прибытие
          .card-room-details__sub-title выезд
        +date-dropdown(dateDroppdownParams)
      .card-room-details__dropdown
        .card-room-details__sub-title гости
        +dropdown(dropdownParams)
      table.card-room-details__cost-table
        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            span.card-room-details__service-cost-per-day.js-card-room-details__service-cost-per-day
            |  х 
            span.card-room-details__service-n-days.js-card-room-details__service-n-days 0
            span.card-room-details__service-days-death.js-card-room-details__service-days-death  суток
          td.card-room-details__service-info
          td.card-room-details__service-cost.js-card-room-details__service-cost= format(0)

        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            | Сбор за услуги: скидка 
            span.card-room-details__service-sale.js-card-room-details__service-sale= format(sale)
          td.card-room-details__service-info(title='info')
            +svg-info-icon()
          td.card-room-details__service-cost 0₽

        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            | Сбор за дополнительные услуги
          td.card-room-details__service-info(title='info')
            +svg-info-icon()
          td.card-room-details__service-additional-cost.js-card-room-details__service-additional-cost 300₽

      .card-room-details__total
        span.card-room-details__total-caption Итого
        .card-room-details__total-dashed-line
        span.card-room-details__total-cost.js-card-room-details__total-cost= format(0)

      .card-room-details__big-button
        +big-button({text: 'забронировать', attrs: {
          type: 'submit', ...bigButtonAttrs
        }})

