include /date-dropdown/date-dropdown
include /dropdown/dropdown
include /big-button/big-button
include /svg-info-icon/svg-info-icon

mixin card-room-details(params)
  - 
    const {
      roomNumber = 888,
      isLuxury = true, 
      cost = 9990,
      sale = 2179,
      formAttrs = {},
      bigButtonAttrs = {},
      dateDroppdownParams = {},
      dropdownParams = {},
    } = params

    const formater = new Intl.NumberFormat('ru', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    })

    function format(str) {
      return formater.format(str).replace(/\s(?=.$)/, '')
    }

  .card-room-details.js-card-room-details
    form.card-room-details__container&attributes(formAttrs)
      .card-room-details__heading
        h1.card-room-details__room-number.js-card-room-details__room-number(
          class=isLuxury && 'card-room-details__room-number_deluxe'
        )= roomNumber
        span.card-room-details__cost.js-card-room-details__cost= cost
      .card-room-details__date-dropdown
        .card-room-details__date-dropdown-title-container
          .card-room-details__sub-title прибытие
          .card-room-details__sub-title выезд
        +date-dropdown(dateDroppdownParams)
      .card-room-details__dropdown
        .card-room-details__sub-title гости
        +dropdown(dropdownParams)
      table.card-room-details__cost-table
        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            span.card-room-details__service-cost-per-day.js-card-room-details__service-cost-per-day
            |  х 
            span.card-room-details__service-n-days.js-card-room-details__service-n-days 0
            span.card-room-details__service-days-death.js-card-room-details__service-days-death  суток
          td.card-room-details__service-info
          td.card-room-details__service-cost.js-card-room-details__service-cost= format(0)

        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            | Сбор за услуги: скидка 
            span.card-room-details__service-sale.js-card-room-details__service-sale= format(sale)
          td.card-room-details__service-info(title='info')
            +svg-info-icon()
          td.card-room-details__service-cost 0₽

        tr.card-room-details__cost-table-row
          td.card-room-details__service-description 
            | Сбор за дополнительные услуги
          td.card-room-details__service-info(title='info')
            +svg-info-icon()
          td.card-room-details__service-additional-cost.js-card-room-details__service-additional-cost 300₽

      .card-room-details__total
        span.card-room-details__total-caption Итого
        .card-room-details__total-dashed-line
        span.card-room-details__total-cost.js-card-room-details__total-cost= format(0)

      .card-room-details__big-button
        +big-button({text: 'забронировать', attrs: {
          type: 'submit', ...bigButtonAttrs
        }})

