mixin range-slider({ from = 0.333, to = 0.666, id })
  .range-slider.js-range-slider(id=id data-from=from data-to=to)
    .range-slider__container.js-range-slider__container
      button.range-slider__handle.js-range-slider__handle.range-slider__handle_starting(
        tabindex="-1"
      )
      button.range-slider__handle.js-range-slider__handle(
        tabindex="-1"
      )
      .range-slider__track
        .range-slider__progress-bar.js-range-slider__progress-bar
        .range-slider__progress-bar.js-range-slider__progress-bar

