extends ../../layout/layout

append vars
  - 
    const title = 'Colors & Types'
    const isUikit = true
    const pageClass = 'color-types'

  mixin color-type({ title = "Dark Shade 100%", color = "#1F2041" })
    - 
      const findPercent = (string) => (string.match(/\d+(?=%)/) || ['100'])[0]
      const percentToRelativeUnits = (percent) => percent / 100

    .color-types__color
      .color-types__color-example(style=`background: ${color}; opacity: ${percentToRelativeUnits(Number(findPercent(title)))}`)
      .color-types__color-container
        h2.color-types__color-title= title
        p.color-types__color-caption= color

  mixin font-types(types)
    - 
      const baseClass = 'color-types'

    .color-types__fonts
      each t in types
        - 
          const [type, example] = Object.entries(t)[0]
          const mod = type.toLowerCase()
          const titleClass = `${baseClass}__fonts-title_${mod}`
          const exampleClass = `${baseClass}__fonts-example_${mod}`

        .color-types__fonts-title(class=titleClass)= type
        .color-types__fonts-example(class=exampleClass)= example

  - 
    const colorTypes = [
      {}, 
      { title: 'Dark Shade 75%' },
      { title: 'Dark Shade 50%' },
      { title: 'Dark Shade 25%' },
      { title: 'Dark Shade 5%' },
      { title: 'Purple', color: '#BC9CFF' },
      { title: 'Green', color: '#6FCF97' },
    ]

    const fontTypes = [
      { 'H1': 'This one is the sub-section or widget title' },
      { 'H2': 'Next one is the item title inside widgets' },
      { 'H3': 'This is a label or CTA text' },
      { 'Body': 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'
      }
    ]

append main
  main.color-types__main
    .color-types__main-colors-container
      each t in colorTypes
        +color-type(t)
    +font-types(fontTypes)
  
