include ../like/like

mixin comment(params)
  -
    const {
      avatar = 'avatar-1.webp',
      name = 'Мурад Сарафанов',
      lastVisited = '5 дней назад',
      likeParams = {value: 12, pressed: true},
      text = 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
    } = params

  .comment
    .comment__avatar-container
      img.comment__avatar(
        src=require(`@library/comment/img/${avatar}`),
        alt="avatar"
      )
    .comment__container
      span.comment__name #{name}
      span.comment__last-visited #{lastVisited}
    .comment__like
      +like(likeParams)
    .comment__text #{text}

