extends ../../layout/layout

append vars
  - 
    isUikit = true
    const pageClass = 'index'
    const uiKit = ['colors-types', 'form-elements', 'cards', 'headers-footers']
    const pages = ['landing', 'search-room', 'room-details', 'reg', 'sign-in']
    const setExt = (name) => `${name}.html`
    const replaseDashes = (name) => name.replace(/-/g, ' ')

block main
  h2.index__title ui-kit:
  ul.index__list
    each name of uiKit
      li.index__item
        a.index__link(href=setExt(name)) #{replaseDashes(name)}

  h2.index__title pages: 
  ul.index__list
    each name of pages
      li.index__item
        a.index__link(href=setExt(name)) #{replaseDashes(name)}

