mixin bigButton(params)
  - const {action = '#', sign = 'перейти к оплате', header = false, label = 'button'} = params
  if (!header)
    form.form.form_big(action=action)
      button.button.button_big(aria-label=label)
        h3.h3.button__sign #{sign}
        span.button__arrow
  else
    form.form.form_big(action="registration.html")
      button.header__button.button.button_big(aria-label=label)
        h3.h3.button__sign #{sign}
