mixin svg-star()
  svg.svg-star(
    width="24"
    height="24" 
    viewBox="-2 -2 24 24" 
    fill="none" 
    xmlns="http://www.w3.org/2000/svg"
  )
    path.svg-star__body(
      d="M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z" 
      fill="url(#paint0_linear)"
    )
    defs
      linearGradient(
        id="paint1_linear" 
        x1="10" 
        y1="-2" 
        x2="10" 
        y2="22" 
        gradientUnits="userSpaceOnUse"
      )
        stop(stop-color="#BC9CFF")
        stop(offset="1" stop-color="#8BA4F9")

      linearGradient(
        id="gradient_focus" 
        x1="12.8284" 
        y1="6.28636" 
        x2="7.1715" 
        y2="11.9432" 
        gradientUnits="userSpaceOnUse"
      )
        stop(stop-color="#e49cff")
        stop(offset="1" stop-color="#bea4f9")

