include /svg-burger/svg-burger
include /svg-logo/svg-logo
include /svg-toxin/svg-toxin
include /svg-expand-icon/svg-expand-icon
include /bordered-button/bordered-button
include /primary-button/primary-button

mixin header(params) 
  mixin menu-item({text = "Вакансии", href = "change me", isImportatn})
    li.header__menu-item
      a.header__menu-link(
        href=href
        title=text
        class=isImportatn && "header__menu-link_important"
      )= text

  mixin expandable-menu-item(params)
    - 
      const {
        text = "Услуги", 
        href = Array(4).fill("change me"),
        itemTexts = Array(4).fill("heawheahweh")
      } = params

    li.header__menu-expandable-item.js-header__menu-expandable-item
      button.header__menu-button.js-header__menu-button(title=text)
        span.header__menu-button-caption= text
        .header__menu-button-icon
          +svg-expand-icon()
      ul.header__sub-menu
        - for (let i = 0; i < Math.min(href.length, itemTexts.length); i++)
          +menu-item({href: href[i], text: itemTexts[i]})

  - 
    const {
      content = [
        {
          text: "О нас",
          importatn: true,
        },
        {
          type: "expandableItem",
        },
        {},
        {
          text: "Новости",
        },
        {
          type: "expandableItem",
          text: "Соглашения",
          itemTexts: Array(4).fill("hieh")
        }
      ],
      authorized = false,
      userName = "Юлий Цезарь",
    } = params

  header.header.js-header(class=authorized && "header_for-authorized-user")
    .header__container 
      button.header__burger.js-header__burger(aria-label="toggle navigation")
        +svg-burger()

      a.header__logo(href="landing.html" title="toxin home page")
        .header__main-logo
          +svg-logo()
        .header__toxin
          +svg-toxin()

      ul.header__menu(aria-label="navigation")
        each i in content
          if i.type === "expandableItem"
            +expandable-menu-item(i)
          else
            +menu-item(i)

      form.header__sign-in-button(action="sign-in.html")
        +bordered-button({text: "войти", attrs: {type: "submit"}})

      form.header__reg-button(action="registration.html")
        +primary-button({text: "зарегистрироваться", attrs: {type: "submit"}})

      span.header__separator

      a.header__user-name(href="change me" title="личный кабинет")= userName

