include /rate/rate

mixin card-room-preview(params)
  -
    const {
      formAttrs = {},
      mainButtonAttrs = {},
      roomNumber = 888,
      isLuxury = true, 
      cost = 9990,
      nReviews = 145,
    } = params

    const formater = new Intl.NumberFormat('ru', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    })

    function format(str) {
      return formater.format(str).replace(/\s(?=.$)/, '')
    }

  form.card-room-preview.js-card-room-preview&attributes(
    Object.assign({action: 'room-details.html'}, formAttrs)
  )
    button.card-room-preview__wrapper&attributes(
      Object.assign({type: 'submit'}, mainButtonAttrs
    ))
      .card-room-preview__carousel
        .card-room-preview__room-img-container
          - for (let i = 0; i < 3; i++) 
            img.card-room-preview__room-img(
              src=require('@library/card-room-preview/img/crp-1.webp').default
              alt='room preview'
            )
      .card-room-preview__footer
        .card-room-preview__heading
          span.card-room-preview__room-number.js-card-room-preview__room-number(
            class=isLuxury && 'card-room-preview__room-number_deluxe'
          )= roomNumber
          span.card-room-preview__cost.js-card-room-preview__cost= format(cost)
        .card-room-preview__line
        .card-room-preview__summary
          +rate({checked: 5, attrs: {disabled: true}})
          .card-room-preview__reviews-container
            span.card-room-preview__n-reviews #{nReviews} 
            | &nbsp;
            span.card-room-preview__reviews Отзывов

