include /rate/rate
include /svg-expand-icon/svg-expand-icon

mixin card-room-preview(params)
  -
    const {
      formAttrs = {},
      mainButtonAttrs = {},
      roomNumber = 888,
      isLuxury = true, 
      cost = 9990,
      nReviews = 145,
      imgNames = ['crp-1.webp', 'crp-1.webp', 'crp-1.webp', 'crp-1.webp'],
    } = params

    const formater = new Intl.NumberFormat('ru', {
      style: 'currency',
      currency: 'RUB',
      minimumFractionDigits: 0,
    })

    function format(str) {
      return formater.format(str).replace(/\s(?=.$)/, '')
    }

  form.card-room-preview.js-card-room-preview(
    action='room-details.html'
  )&attributes(formAttrs)
    .card-room-preview__carousel
      button.card-room-preview__prev-button.js-card-room-preview__prev-button(type='button')
        +svg-expand-icon('white', 1)
      button.card-room-preview__next-button.js-card-room-preview__next-button(type='button')
        +svg-expand-icon('white', 1)
      .card-room-preview__radio-container
        - const name = 'crp' + Math.round(Math.random() * 1e3)
        - for (let i = 0; i < imgNames.length; i++) 
          - 
            const attrs = {
              name,
              'data-index': i,
              checked: i == 0
            }
          label.card-room-preview__radio-label
            input.card-room-preview__radio-input.js-card-room-preview__radio-input&attributes(attrs)(type='radio')
            span.card-room-preview__radio-box
      .card-room-preview__room-img-container
        each i of imgNames
          img.card-room-preview__room-img.js-card-room-preview__room-img(
            src=require(`@library/card-room-preview/img/${i}`).default
            alt='room preview'
          )
    button.card-room-preview__wrapper&attributes(mainButtonAttrs)
      .card-room-preview__footer
        .card-room-preview__heading
          span.card-room-preview__room-number.js-card-room-preview__room-number(
            class=isLuxury && 'card-room-preview__room-number_deluxe'
          )= roomNumber
          span.card-room-preview__cost.js-card-room-preview__cost= format(cost)
        .card-room-preview__line
        .card-room-preview__summary
          +rate({checked: 5, attrs: {disabled: true}})
          .card-room-preview__reviews-container
            span.card-room-preview__n-reviews #{nReviews} 
            | &nbsp;
            span.card-room-preview__reviews Отзывов

