mixin footer(params)
  - const {mobile = false} = params
  if !mobile
    footer.footer
      .footer__container
        .footer__main-content
          .container.container_direction-column.container_align-items-flex-start
            img.logo.footer__logo(src=require("@library/logo/logo.svg").default, alt="logo")
            p.p
              | Бронирование номеров в лучшем
              br
              | отеле 2019 года по версии
              br
              | ассоциации «Отельные взгляды»

          .container.container_direction-column
            h3.h3 навигация
            a(href="change me") О нас
            a(href="change me") Новости
            a(href="change me") Служба поддержки
            a(href="change me") Услуги

          .container.container_direction-column
            h3.h3 о нас
            a(href="change me") О сервисе
            a(href="change me") Наша команда
            a(href="change me") Вакансии
            a(href="change me") Инвесторы

          .container.container_direction-column
            h3.h3 Служба поддержки
            a(href="change me") Соглашения
            a(href="change me") Сообщества
            a(href="change me") Связь с нами

          .container.container_direction-column
            h3.h3 Подписка
            p.p Получайте специальные предложения и новости сервиса
            +subTextField()

      .footer__container
        .footer__social-content
          p.p Copyright © 2018 Toxin отель. Все права зачищены.
          .footer__social-container
            a.footer__social-icon.twitter-icon(
              href="https://twitter.com/" 
              title="twitter start page"
            )
            a.footer__social-icon.facebook-icon(
              href="https://www.facebook.com/"
              title="facebook start page"
            )
            a.footer__social-icon.instagram-icon(
              href="https://www.instagram.com/"
              title="instagram start page"
            )
  else
    footer.footer.footer_mobile
      img.logo.footer__logo(src=require("@library/logo/logo.svg").default, alt="logo")
      p.p Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__social-container
        a.footer__social-icon.twitter-icon(
          href="https://twitter.com/"
          title="twitter start page"
        )
        a.footer__social-icon.facebook-icon(
          href="https://www.facebook.com/"
          title="facebook start page"
        )
        a.footer__social-icon.instagram-icon(
          href="https://www.instagram.com/"
          title="instagram start page"
        )
