block vars
  include /watermark/watermark
  include /header/header
  include /footer/footer
  include /text-field/text-field
  include /masked-text-field/masked-text-field
  include /subscription-text-field/subscription-text-field
  include /dropdown/dropdown
  include /primary-button/primary-button
  include /bordered-button/bordered-button
  include /text-button/text-button
  include /big-button/big-button
  include /calendar/calendar
  include /date-dropdown/date-dropdown
  include /filter-date-dropdown/filter-date-dropdown
  include /check/check
  include /radio/radio
  include /toggle/toggle
  include /like/like
  include /rate/rate
  include /pagination/pagination
  include /range-slider/range-slider
  include /range-label/range-label
  include /check-list/check-list
  include /rich-check/rich-check
  include /bullet-list/bullet-list
  include /about-room/about-room
  include /comment/comment
  include /card-search-room/card-search-room
  include /card-room-preview/card-room-preview
  include /card-room-details/card-room-details
  include /card-sign-in/card-sign-in
  include /card-reg/card-reg

  - 
    let isUikit = false
    const calHash = 'CAL_MAIN'
    const dropdownHash = 'DROPDOWN_MAIN'

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(
      name="description" 
      content=description || 'toxin template'
    )
    meta(name="keywords" content=keywords || 'toxin hotels aggregator')
    title= title || 'toxin'
    link(
      rel="mask-icon"
      href=require("@src/favicons/mask-icon.svg") 
      color="#BC9CFF"
    )
    link(
      rel="icon"
      type="image/jpg"
      href=require("@src/favicons/favicon-16x16.png")
    )
    link(
      rel="icon"
      type="image/jpg"
      href=require("@src/favicons/favicon-32x32.png")
    )

  body
    unless isUikit
      +header({})
    block main
      if isUikit
        +watermark({})
    unless isUikit
      +footer({})

